# 成為資料分析師 | Python 與資料科學應用

> 隨堂練習：奧運獎牌排行參考解答

## 郭耀仁

## 隨堂練習：奧運獎牌排行

In [1]:
import requests
import pandas as pd

## 題庫

[Introduction to Data Science in Python](https://www.coursera.org/learn/python-data-analysis/home/welcome)

In [2]:
request_url = "https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table"
html_tables = pd.read_html(request_url)
olympic_medal_table = html_tables[1]
column_names = ['team', 'no_summer_games', 'no_summer_golds', 'no_summer_silvers', 'no_summer_bronzes', 'no_summer_totals',
               'no_winter_games', 'no_winter_golds', 'no_winter_silvers', 'no_winter_bronzes', 'no_winter_totals',
               'no_combined_games', 'no_combined_golds', 'no_combined_silvers', 'no_combined_bronzes', 'no_combined_totals']
olympic_medal_table.columns = column_names
team_name_split = olympic_medal_table['team'].str.split('\(|\)|\[|\]', expand=True)
team_names = team_name_split[0].str.strip()
team_ioc = team_name_split[1].str.strip()
olympic_medal_table.insert(0, 'team_name', team_names.values)
olympic_medal_table.insert(1, 'team_ioc', team_ioc.values)
olympic_medal_table = olympic_medal_table.drop('team', axis=1)

In [3]:
olympic_medal_table.head()

,team_name,team_ioc,no_summer_games,no_summer_golds,no_summer_silvers,no_summer_bronzes,no_summer_totals,no_winter_games,no_winter_golds,no_winter_silvers,no_winter_bronzes,no_winter_totals,no_combined_games,no_combined_golds,no_combined_silvers,no_combined_bronzes,no_combined_totals
0,Afghanistan,AFG,14,0,0,2,2,0,0,0,0,0,14,0,0,2,2
1,Algeria,ALG,13,5,4,8,17,3,0,0,0,0,16,5,4,8,17
2,Argentina,ARG,24,21,25,28,74,19,0,0,0,0,43,21,25,28,74
3,Armenia,ARM,6,2,6,6,14,7,0,0,0,0,13,2,6,6,14
4,Australasia,ANZ,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [4]:
olympic_medal_table.tail()

,team_name,team_ioc,no_summer_games,no_summer_golds,no_summer_silvers,no_summer_bronzes,no_summer_totals,no_winter_games,no_winter_golds,no_winter_silvers,no_winter_bronzes,no_winter_totals,no_combined_games,no_combined_golds,no_combined_silvers,no_combined_bronzes,no_combined_totals
148,Zimbabwe,ZIM,13,3,4,1,8,1,0,0,0,0,14,3,4,1,8
149,Independent Olympic Athletes,IOA,3,1,0,1,2,0,0,0,0,0,3,1,0,1,2
150,Independent Olympic Participants,IOP,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
151,Mixed team,ZZX,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
152,Totals,None,28,5116,5081,5488,15685,23,1062,1058,1050,3170,51,6178,6139,6538,18855

## 隨堂練習：哪個國家贏得的夏季奧運金牌數最多？

In [5]:
def most_summer_gold_country(olympic_medal_table):
    """
    >>> most_summer_gold_country(olympic_medal_table)
    'United States'
    """
    without_totals = olympic_medal_table[olympic_medal_table['team_name'] != 'Totals']
    without_totals = without_totals.set_index('team_name')
    return without_totals["no_summer_golds"].idxmax()

## 隨堂練習：哪個國家夏季奧運與冬季奧運的金牌數差距數最大？

In [6]:
def largest_gold_difference(olympic_medal_table):
    """
    >>> largest_gold_difference(olympic_medal_table)
    'United States'
    """
    without_totals = olympic_medal_table[olympic_medal_table['team_name'] != 'Totals']
    without_totals = without_totals.set_index('team_name')
    diff = without_totals["no_summer_golds"] - without_totals["no_winter_golds"]
    diff_abs = diff.abs()
    return diff_abs.idxmax()

## 隨堂練習：哪個國家夏季奧運與冬季奧運的金牌數差距除以總金牌數的比例最大？（僅考慮至少有一個夏季金牌與一個冬季金牌的國家）

$$\text{Ratio} = \frac{\text{Summer Gold} - \text{Winter Gold}}{\text{Total Gold}}$$

In [7]:
def largest_ratio(olympic_medal_table):
    """
    >>> largest_ratio(olympic_medal_table)
    'Hungary'
    """
    without_totals = olympic_medal_table[olympic_medal_table['team_name'] != 'Totals']
    without_totals = without_totals.set_index('team_name')
    summer_gold = without_totals["no_summer_golds"]
    winter_gold = without_totals["no_winter_golds"]
    total_gold = without_totals["no_combined_golds"]
    ratio = (summer_gold - winter_gold)/total_gold
    ratio_not_one = ratio[ratio < 1]
    return ratio_not_one.idxmax()

In [8]:
# %load ../test_cases/test_cases_03.py
import unittest

class TestPandas101(unittest.TestCase):
    def test_most_summer_gold_country(self):
        self.assertEqual(most_summer_gold_country(olympic_medal_table), 'United States')
    def test_largest_gold_difference(self):
        self.assertEqual(largest_gold_difference(olympic_medal_table), 'United States')
    def test_largest_ratio(self):
        self.assertEqual(largest_ratio(olympic_medal_table), 'Hungary')

suite = unittest.TestLoader().loadTestsFromTestCase(TestPandas101)
runner = unittest.TextTestRunner(verbosity=2)
test_results = runner.run(suite)

test_largest_gold_difference (__main__.TestPandas101) ... ok
test_largest_ratio (__main__.TestPandas101) ... ok
test_most_summer_gold_country (__main__.TestPandas101) ... ok

----------------------------------------------------------------------
Ran 3 tests in 0.013s

OK